*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 228, 0.549), rgba(251, 255, 162, 0.75)),
  url("https://img.freepik.com/free-vector/cute-food-pattern-design-yellow-background_8830-484.jpg?w=900&t=st=1656560229~exp=1656560829~hmac=7cea5bd2b78268c8ac2ce4809109a7559af3b3185030cd8873ffaec55cc363cd");

  background-position: center;
	/* background-size: cover; */
	
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.recipes {
  background-image: linear-gradient(180deg, rgb(176, 223, 238) 23.8%, rgb(61, 144, 172) 92%);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

.meal-cards {
  margin: 0 auto; 
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  padding-right: 5%;
  box-sizing: border-box;
}
.meal-content {
  padding: 5%;
}


.meal-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

/* description */
.meal-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.meal-content > p:first-of-type {
  margin-top: 0;
}

.meal-content > p:last-of-type {
  margin-top: 0;
}

/* view recipe */
.meal-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.meal-info i {
  font-size: 0.9em;
  margin-right: 10px;
}

/* view recipe */
.recipe-btn {
  color: #333333;
}

.recipe-btn hover {
  text-decoration: underline;
}





.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color:rgb(154, 214, 239);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

button:hover {
  background:rgb(131, 182, 205);
  transition: 0.5s;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}




.btn {
  font-family: Lucida Sans;
  cursor: pointer;
  outline: 0;
  font-size: 12px;
}
.text {
  opacity: 0.8;
}

.search-control,
.search-btn {
  width: 100%;
}
.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  outline: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.meal-img {
  display: flex;
  width: 50%;
  height: auto;
  padding: 10px; 
  border-radius: 20px;
}